<% layout('layouts/boilerplate') %>
<h1><%= farm.name %></h1>
<ul>
  <li>City: <%= farm.city%></li>
  <li>Email: <%= farm.email %></li>
</ul>
<h2>Products</h2>
<ul>
  <% for(let product of farm.products) {%>
  <li><a href="/products/<%=product._id%>"><%=product.name%></a></li>
  <% } %>
</ul>
<a href="/farms">All Farms</a>
<a href="/farms/<%= farm._id %>/products/new"
  >add Product in <b><%= farm.name %></b> Farm!!</a
>
<form action="/farms/<%=farm._id%>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
